<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Вы не авторизованы!</h1>
        <p class="lead text-muted">Пожалуйста, войдите/зарегистрируйтесь, чтобы использовать наш сайт</p>
        <p>
            <a href="{% url 'users:login' %}" class="btn btn-primary my-2">Войти</a>
            <a href="{% url 'users:register' %}" class="btn btn-primary my-2">Регистрация</a>
            <a href="/" class="btn btn-secondary my-2">Вернуться на главную</a>
        </p>
    </div>
</section>