{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Блог "{{ object.name }}"</h3>
                </div>
                <div class="card-body">
                    <p>{{ object.content }}</p>
                    <small>Slug: {{ object.slug }}</small>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="/blogs/">Назад</a>
                        <small class="text-muted">Просмотрено: {{ object.number_views }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}